body{
background:#e1e5ed;
margin:10px;

}

main{
height:auto;
display:block;
overflow:hidden;

}

li{
    list-style: none;
}

/*Header style start*/
.header-nav{
    float: right;
    margin-right: 10px;
    margin-top: 30px;
}
.logo-name{
width:120px;
float:left;
padding-top:50px;
padding-left:10px;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
margin-bottom:30px;
position:inherit;

}

.logo-name-block h3{
margin-left:140px;
}
.logo-img{
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    margin-bottom:30px;
    margin-left:-250px;

}


.header-nav li{
    float: left;
    padding: 20px 20px;
    margin: 2px;
    border: 2px solid #dee0e5;
    border-radius: 10px 10px 10px 10px;
    background: #696b70;
    
}

.header-nav li a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #dee0e5;

}

.header-contact-info{
margin-left:345px;
}

.header-contact-info p{
float:left;
border:1px solid gray;
border-radius: 10px 10px 10px 10px;
padding:5px;
background:#e0e2e5;
}

.header-email{
margin-left:10px;
}
/*Header style start*/

article {
    float: left;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 0 15px;
    width: 70%;
    overflow: hidden;
}

section {
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;


}

aside {
    float: right;
    padding-left: 8px;
    padding-right: 8px;
    margin-top:30px;
    width: 25%;
    display: block;
    overflow: hidden;
    position:inherit;
    height:auto;
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
}

aside li{
padding-bottom:10px;
}


menu {
    padding: 0;
}


.filter li{
margin-bottom:15px;

}

.filter li a img{
margin-right:10px;
margin-bottom:-18px;
}

.info-box{
border: 1px solid #ccc;
width:900px;
float:right;
position:static;
}

.price-box{
border: 1px solid #ccc;
width:900px;
float:right;
margin-top:10px;
}

.img-box{
border: 1px solid #ccc;
width:340px;

}

.img-box img{
margin-left:25px;
}

.price-section{
width:200px;
float:right;
margin-top:22px;
background-color:green;

}

.price-section a{
text-align:center;
color:white;
text-style:bold;
font-size:20px;
text-decoration:none;
margin-bottom:5px;
}

.buy-section{
width:150px;
background-color:#d1cb3e;
margin-left:500px;
border-radius: 10px 10px 10px 10px;
}

.buy-section h4{
font-size:18px;
color:white;
padding:10px;
}

.buy-btn{
color: #696b70;
}

.buy-btn:hover{
color: yellow;
}


footer{
margin-top:20px;
padding-top:10px;
padding-bottom:10px;
border: 1px solid grey;
border-radius: 10px 10px 10px 10px;
}





