body {
    background:#e1e5ed;
    margin:10px;
    font-family:Arial;
}

a {
    text-decoration:none;
}

input, textarea {
    border: 2px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    padding:5px;
}

main {
    height:auto;
    display:block;
    overflow:hidden;
}

content {
    border: 2px solid #ccc;
    border-radius: 10px 10px 10px 10px;
}

li{
    list-style: none;
}

/*Header style start*/
.header-nav {
    float: right;
    margin-right: 10px;
    margin-top: 30px;
}

.logo-name {
width:120px;
float:left;
padding-top:50px;
padding-left:10px;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
margin-bottom:30px;
position:inherit;
}

.logo-name-block h3 {
    margin-left:140px;
}
.logo-img {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    margin-bottom:30px;
    margin-left:-250px;
}

.header-nav li {
    float: left;
    padding: 10px 10px;
    margin: 2px;
    border: 2px solid #dee0e5;
    border-radius: 10px 10px 10px 10px;
    background: #696b70;
    
}

.header-nav li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #dee0e5;

}

/* Animated menu start*/
.header-nav li ul {
  display: none;
  position: absolute;
  list-style: none;
  margin-left: -3px;
  padding: 0;
  overflow: hidden;
}


.catalogue-items{
    margin-top:10px;
    margin-left:15px;

}
.catalogue-items li{
    float:none;
    position:relative;
    margin-left:20px;
    padding:5px;
}

.catalogue-items li a{
    padding:5px;
    font-size:14px;
}

.header-nav li:hover > ul {
  display: block;

}

.header-nav li:hover {
    background:#b9dba2;
}

.header-nav li a:hover {
    color:black;
}
/*Animated menu end*/


.header-contact-info {
    margin-left:345px;
    margin-top:10px;
}

.header-contact-info p {
    float:left;
    border:1px solid gray;
    border-radius: 10px 10px 10px 10px;
    padding:5px;
    background:#e0e2e5;
}

.header-email {
    margin-left:10px;
}
/*Header style start*/


article {
    float: left;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 0 15px;
    width: 70%;
}

section {
    padding: 10px;
}

aside {
    float: right;
    padding-left: 8px;
    padding-right: 8px;
    margin-top:30px;
    width: 25%;
    display: block;
    position:absolute;
    left:1350px;
    top:219px;
    height:auto;
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
}

aside li {
    padding-bottom:10px;
}

menu {
    padding: 0;
}


.filter li {
 margin-bottom:15px;

}

.filter li a img {
    margin-right:10px;
    margin-bottom:-18px;
}

.product-info {
    height:auto;
    width:930px;
    float:right;
    position:absolute;
    left:400px;
    right:20px;
    margin-top:-8px;
}

.product-info-details {
    height:auto;
    width:930px;
    float:right;
    position:absolute;
    left:400px;
    right:20px;
    margin-top:-19px;
}


.info-box {
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    width:910px;
    float:right;
    margin-left:20px;
}

.price-box {
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    width:910px;
    float:right;
    margin-top:10px;
}

.img-box {
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    width:340px;
    position:relative;
    margin-right:20px;
}

.img-box img {
    margin-left:25px;
}

.product-title {
    position:absolute;
    top:10px;
}

.price-section {
    width:200px;
    float:right;
    margin-top:3px;
    background-color:green;
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    padding:20px;
    text-align:center;
    
}

.price-section a {
    color:white;
    text-style:bold;
    font-size:20px;
    text-decoration:none;
    margin-bottom:5px;
    text-align:center;
}

.buy-section {
    width:180px;
    height:auto;
    background-color:#d1cb3e;
    margin-left:480px;
    margin-top:5px;
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
}

.buy-section h3 {
    font-size:18px;
    color:white;
    padding:-10px;
    height:-10px;
    text-align: center;
}

.buy-btn {
    color: #696b70;
}

.buy-btn:hover {
    color: yellow;
}

footer {
    margin-top:20px;
    padding-top:10px;
    padding-bottom:10px;
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    text-align:center;
}

.tech-spec-title {
    width:98%;
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    padding:10px;
    text-align:center;
    font-weight:bold;
}

.tech-spec {
    height: auto;
    width:98%;
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    margin-top:10px;
    padding:10px;

}

.tech-spec-table {
    width:100%;
    text-align:center;
    padding:10px;
    border:none;
}

.characteristic {
    width:30%;
    padding-bottom:25px;
    padding-top:25px;
    border-bottom:1px solid #ccc;
}

.characteristic-description {
    text-align:justify;
    width:70%
    padding-top:25px;
    padding-bottom:25px;
    border-bottom:1px solid #ccc;
}

.review-form-table {
    width:100%;
    text-align:right;
    padding-top:20px;
}

.review-form-table tr {
    width:100%;
    text-align:right;
    padding:10px;
}

.review-form-table td {
    padding:10px;
}

.review-form-table label {
    font-size:18px;
    font-family:Arial;
}

.send-review-button {
    font-size:25px;
    padding:5px;
    margin-top:10px;
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
}

.admin-panel{
    width:100%;

}

.admin-form-table {
    width:100%;
    text-align:center;
    padding-top:20px;
}

.admin-form-table tr {
    width:100%;
    text-align:center;
    padding:10px;
}

.admin-form-table td {
    padding:15px;
}

.admin-form-table label {
    font-size:18px;
    font-family:Arial;
}

.admin-panel-add-button {
    font-size:25px;
    padding:10px;
    color: #dee0e5;
    margin-top:10px;
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    background-color: #bccbe2;
}

.admin-panel-add-button:hover {
    background-color: #7ce504;

}

.share-product-block {
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    height:auto;
    width:910px;
    float:right;
    position:absolute;
    left:408px;
    right:20px;
    top:425px;
}

.fa {
    padding: 15px;
    font-size: 12px;
    width: 15px;
    height: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}




/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}




